<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatisimpl.mappers.IniciativaMapper">

    <select parameterType="map" id="getIniciativaId" resultMap="IniciativaResult">
        SELECT
        i.id,
        i.nombre,
        i.estado,
        i.numerovotos,
        i.descripcion,
        i.palabrasclave,
        i.nombreusuario,
        i.correousuario
        FROM
        iniciativa as i WHERE i.id=#{idIniciativa}
    </select>

    <select parameterType="map" id="getIniciativasPaClave" resultMap="IniciativaResult">
        SELECT
        i.id,
        i.nombre,
        i.estado,
        i.numerovotos,
        i.descripcion,
        i.palabrasclave,
        i.nombreusuario,
        i.correousuario
        FROM
        iniciativa as i WHERE i.palabrasclave LIKE concat('%',#{palabraClave},'%')
        <!--Preguntar si el like esta bien-->
    </select>

    <select parameterType="map" id="getIniciativasAll" resultMap="IniciativaResult">
        SELECT
        i.id,
        i.nombre,
        i.estado,
        i.numerovotos,
        i.descripcion,
        i.palabrasclave,
        i.nombreusuario,
        i.correousuario
        FROM
        iniciativa as i
    </select>

    <insert id="insertIniciativa">
        insert into iniciativa (nombre,estado,numerovotos,descripcion,palabrasclave, nombreusuario, correousuario) values (#{nombre},#{estado},#{numerovotos},#{descripcion},#{palabrasclave}, #{nombreusuario}, #{correousuario})
    </insert>

    <update id="updateIniciativa">
        update iniciativa set estado=#{estado} where nombre = #{nombre};
    </update>

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='estado' column='estado'/>
        <result property='numeroVotos' column='numerovotos'/>
        <result property='descripcion' column='descripcion'/>
        <result property='palabrasClave' column='palabrasclave'/>
        <result property='nombreUsuario' column='nombreusuario'/>
        <result property='correoUsuario' column='correousuario'/>
    </resultMap>


</mapper>