<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatisimpl.mappers.UsuarioMapper">

    <resultMap type='User' id='UserResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>
        <result property='contraseña' column='contraseña'/>
        <result property='tipoUser' column='tipoUser'/>
    </resultMap>

    <select id="getUsers" resultMap="UserResult">
        SELECT
        u.id,
        u.nombre,
        u.correo,
        u.contraseña,
        u.tipouser
        FROM
        usuario as u
    </select>

    <insert id="insertUser" parameterType="entities.Usuario">
        insert into usuario(id,nombre,correo,contraseña,tipoUser) values (#{id},#{nombre},#{correo},#{contraseña},#{tipoUsuario})
    </insert>

    <delete id="deleteAll">
        delete from usuario
    </delete>
</mapper>