body {
  background-color:#fffffa;
}

h1{
	 color: firebrick;
	 text-align: center;
	 font-size:2.5vw;
	 font-family: "Lato", "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
}

h2{
	color: firebrick;
  	font-family: "Lato", "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
  	font-size:1.5vw;
  	text-align:center;
	margin: 1vw 1vw 0;

}

p{
  color: black;
  font-size: 1.2vw;
  font-family: "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
}


.iniciativas {
  font-size:1.2vw;
  border: 0.2vw solid rgba(255,255,255,10);
  border-collapse: collapse;
  width: 80%;
}

.iniciativas tr:nth-child(even){
	background-color: #f9f256;
	color: white;
}

.iniciativas tr:nth-child(odd){
	background-color: #fcf8a5;
	color: black;
}

.iniciativas tr:hover {
	background-color: #f04c65;
}

.iniciativas th {
  padding-top: 25px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#ececec;
  color: black;
}

 
.iniciativas th:nth-child(8) {
	width: 15%;
}

div#uno{
	float:left;
	width:200px;
	height:1000px;
	margin-left:50px;
}
div#dos{
	float:right;
	width:1050px;
	height:1000px;
}

.contenedor{
 width: 100%;
 height: auto;
 margin-top: 10vw;
 display: text-align:center;
 margin-rigth: 10%;
 margin-left: 10%;
}

.elemento{
 float: left;
 width: 18vw;
 height: 18vw;
 opacity: 0.85;
 margin: 1vw;
 border-radius: 100%;

 -webkit-transition: all .05s ease-in-out;
 -moz-transition: all .05s ease-in-out;
 -o-transition: all .05s ease-in-out;
 transition: all .05s ease-in-out;
}
.elemento:hover{
 border: solid 1vw rgba(255,255,255,.0);
 margin: 2vw;
 opacity: 1;
 background-color: rgba(255,255,255,.20);
}

.texto{
  	font-family: "Calibri", "Lato", "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
	font-size: 1.2em;
	color:black;
	text-align: rigth;
	padding-top:2vw;
	opacity:0.6;
	-webkit-transition: padding-top .4s;
}

.contenedor:hover .icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.0);
}
